body{
    background-color: #F2E9E4;
}
.card{
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 10px;



}
.image{
  width: 300px;
  border-radius: 10px 0 0 10px;
}
.mobile{
    display: none;
}
.section2{
    width: 300px;
    padding: 20px;



}
.header1{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    color:  hsl(228, 12%, 48%);
  
}
.article{
    width: 230px;
    font-size: 32px;
    font-weight: 800;
    font-family: 'Fraunces', serif;
 
}

.description{
    width: 260px;
    font-family: 'Montserrat', sans-serif;
    color:  hsl(228, 12%, 48%);


}
.number1{
    font-family: 'Fraunces', serif;
    font-size: 40px;
    color:hsl(158, 36%, 37%)
}
.number2{
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    padding: 20px;
    position: relative;
    bottom: 10px;
    color:  hsl(228, 12%, 48%);

}
.btn{
   width: 80%;
   height: 40px;
   margin-top: 20px;
   border-radius: 8px;
   outline: none;
   border: 0 solid;
   background-color:  hsl(158, 36%, 37%);
   color: hsl(30, 38%, 92%);
   font-family: 'Montserrat', sans-serif;
   cursor: pointer;
}

.btn:hover{
    background-color:  hsl(158, 54%, 28%);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: relative;
    bottom: -600px;

}
.attribution a { color: hsl(228, 45%, 44%); }


@media (max-width: 375px){
    .image{
        display: none;
    }
    .mobile{
        display:block;
        width: 100%;
        
        border-radius:  10px 10px 0 0 ;
        position: relative;
        bottom:-60px;
    }
    .card{
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 600px;
        margin-left: 2px;
    
   
        
      
    }
    .article{
        width: 300px;
    }
    .header1{
    margin-top: 2rem;
    }
    .section2{
    font-size: 11px;
    margin-top: 2rem;
    }
 
    .attribution { 
        font-size: 11px; 
        text-align: center; 
        position: relative;
        bottom: -800px;
    
    }
    .btn{
   width: 90%;
    }
}
